{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load filter_extras %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/scroll_top.css' %}">
{% endblock %}


{% block content %}

{% get_prev_next chapter querysets "prev_ch" as prev_ch %}
{% get_prev_next chapter querysets "next_ch" as next_ch %}

<div class="container">
    <ul class="nav nav-tabs justify-content-center mb-4 nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'novel_detail' novel.slug %}"> {{ novel.title }}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Chapters</a>
            <div class="chapters-dropdown dropdown-menu">
                {% for chapt in querysets %}
                {% if chapter.number == chapt.number %}
                <a class="dropdown-item active" href="{{ chapt.number }}">{{ chapt.title }}</a>
                {% else %}
                <a class="dropdown-item" href="{{ chapt.number }}">{{ chapt.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            {% if not prev_ch %}
            <a class="nav-link" href="{% url 'novel_detail' novel.slug %}">Back to novel page</a>
            {% else %}
            <a class="nav-link" id="prev" href="{{ prev_ch.number }}">Previous</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if not next_ch %}
            <a class="nav-link" href="{% url 'novel_detail' novel.slug %}">Back to novel page</a>
            {% else %}
            <a class="nav-link" id="next" href="{{ next_ch.number }}">Next</a>
            {% endif %}
        </li>
    </ul>
    <div class="card  my-3 chapter-detail">
        <div class="card-body">
            <br>
            <h5 class="card-title display-4 text-center" style="font-size: 1.7em;">{{ chapter.title }}</h5>
            <br>
            <div class="card-text chapter-content"> {{ content|safe|linebreaks }} </div>
        </div>
    </div>
    <ul class="nav nav-tabs justify-content-center mb-4 nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'novel_detail' novel.slug %}"> {{ novel.title }}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Chapters</a>
            <div class="chapters-dropdown dropdown-menu">
                {% for chapter in querysets %}
                <a class="dropdown-item" href="{{ chapter.number }}">{{ chapter.title }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            {% if not prev_ch %}
            <a class="nav-link" href="{% url 'novel_detail' novel.slug %}">Back to novel page</a>
            {% else %}
            <a class="nav-link" href="{{ prev_ch.number }}">Previous</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if not next_ch %}
            <a class="nav-link" href="{% url 'novel_detail' novel.slug %}">Back to novel page</a>
            {% else %}
            <a class="nav-link" href="{{ next_ch.number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>
<button onclick="topFunction()" class="btn btn-outline-danger" id="myBtn" title="Go to top">Top</button>
{% endblock %}

{% block javascript %}
<script src="{% static 'blog/scroll_top.js' %}"></script>
{% endblock %}