{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load filter_extras %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-9">
        <div class="container p-3 my-2">
            {% if subtitle %}
            <h4 class="display-4" style="font-size: 2.5em">{{ subtitle }} novels</h4>
            {% else %}
            <h4 class="display-4" style="font-size: 2.5em">LATEST NOVEL UPDATES</h4>
            {% endif %}
        </div>
        {% for row in novels %}
        <div class="row row-cols-2">
            {% for novel in row %}
            {% if novel %}
            <div class="card mb-3 page-item-detail border-0">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="{% url 'novel_detail' novel.slug %}" title="{{novel.title}}">
                            <img src="{{ novel.image.url }}" class="rounded float-left embed-responsive">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title item-title text-decoration-none">
                                <a href="{% url 'novel_detail' novel.slug %}">{{ novel.title }}</a>
                            </h5>
                            <p class="card-text">
                                {% for chapter in novel.chapterquepubs_set|ordereddesc|slice:"3" %}
                                <span><a class="mr-2" href="{% url 'novel_chapter' novel.slug chapter.number %}">Chapter
                                        {{ chapter.number }}</a></span>
                                <span class="date_format text-muted">
                                    {{ chapter.date_posted|naturaltime|shorten_naturaltime }}
                                </span> <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <nav class="pagination-container">
            <div class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <a class="pagination-newer" href="?page=1">First</a>
                <a class="pagination-newer" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% else %}
                <a class="pagination-newer" href="#" tabindex="-1">Previous</a>
                {% endif %}
                <span class="pagination-inner">
                    {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                    <a class="pagination-active" href="#">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}
                    </a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                        href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}
                </span>
                {% if page_obj.has_next %}
                <a class="pagination-older" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="pagination-older" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% else %}
                <a class="pagination-older" href="#" tabindex="-1">Next</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <!--     {% include "blog/sidebar.html" %}
 -->
</div>
{% endblock content %}